<header>
  <div class="logo">
    <%= link_to user_top_path do %>
      <div class="c-logo">
      </div>
    <% end %>
  </div>
  <div class="head-item">
    <div class="notification">
      <%= link_to user_applicants_path do %>
        <div class="image-profile">
        </div>
      <% end %>
    </div>
    <div class="picture">
      <%= link_to user_user_notices_path do %>
        <div class="image-bell">
          <% if current_applicant.unchecked_user_notices.any?%>
            <span style="color: #e59322; width: 10px; font-size: 25px;">●</span>
          <% end %>
        </div>
        <P>通知</p>
      <% end %>
    </div>
    <div class="carender">
      <%= link_to destroy_applicant_session_path, method: :delete do %>
        <div class="image-logout">
        </div>
        <p>ログアウト</p>
      <% end %>
    </div>
  </div>
</header>