<div class="prof-box">
  <%= attachment_image_tag current_applicant, :image, format: "jpeg", fallback: "no_image.jpeg", class: "item_image" %>
  <div class="creat-ttl">
    <p><%= current_applicant.full_name %> </p>
    <p><span><%= l post.created_at, format: :long %> </span></p>
  </div>
</div>