<div class="prof-box">
  <%= image_tag current_applicant.image_id.url, class: "item_image" %>
  <div class="creat-ttl">
    <p><%= current_applicant.full_name %> </p>
    <p><span><%= l post.created_at, format: :long %> </span></p>
  </div>
</div>