<body class="public-scene"><body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="offerd">
    <div class="users">
      <% @portfolios.each do |port| %>
        <ul>
          <%= link_to public_portfolio_path(port) do %>
            <li><%= port.applicant.full_name %> </li>
            <li>タイトル</li>
            <li>使用言語</li>
            <li>サイトテーマ</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </main>
</body>