<body class="public-scene">
  <%= render partial: '/template/public_header' %>
  <%= render partial: '/template/public_nav' %>
  <main class="user-top">
    <div class="job-offer">最近登録したユーザー</div>
    <div class="schedule">メッセージ一覧</div>
    <div class="study-post">
      検索
    </div>
  </main>
</body>