<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="user-info">
    <%= render partial: '/template/user_info' %>
    <div class="ability">
      <h4>学歴</h4>
      <table>
        <tr>
          <td>学校区分</td>
          <th>大学</th>
        </tr>
        <tr>
          <td>学校名</td>
          <th>日本大学</th>
        </tr>
        <tr>
          <td>学部</td>
          <th>法学部</th>
        </tr>
        <tr>
          <td>学科</td>
          <th>法律学科</th>
        </tr>
      </table>
    </div>
    <div class="pr">
      <h4>職務経歴</h4>
      <h6>職歴要約</h6>
      <div class="text-box">
        ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
        ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
        ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
        ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
      </div>
      <h6>職務経歴</h6>
      <table border="1" style="border-collapse: collapse">
        <tr>
          <th class="period">期間</th>
          <th>職務内容</th>
        </tr>
        <tr>
          <td>2013年4月〜2015年3月</td>
          <td>
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
          </td>
        </tr>
        <tr>
          <td>2013年4月〜2015年3月</td>
          <td>
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
          </td>
        </tr>
        <tr>
          <td>2013年4月〜2015年3月</td>
          <td>
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
              ここにtextここにtextここにtextここにtextここにtextここにtextここにtextここにtext
          </td>
        </tr>
      </table>
    </div>
    <div class="submit">
      編集
    </div>
  </main>
  <footer>
    <p class="copy">Copyright © GrowIT/Talent All Rights Reserved.</p>
  </footer>
</body>