<body class="public-scene">
  <% if applicant_signed_in? %>
    <%= render partial: '/template/header' %>
    <%= render partial: '/template/nav' %>
  <% else %>
    <%= render partial: '/template/public_header' %>
    <%= render partial: '/template/public_nav' %>
  <% end %>
  <main class="offerd">
    <div class="basic-info" style="height: auto;">
      <div class="title">
        <h2>株式会社ホゲホゲ</h2>
      </div>
      <div class="messa">
        ここに文章を入力
      </div>
      <div class="transmission">
        送信
      </div>
      <p>株式会社ホゲホゲ</p>
      <div class="messa">
        ここに文章を入力
      </div>
      <p>あなた</p>
      <div class="messa">
        ここに文章を入力
      </div>
      <p>株式会社ホゲホゲ</p>
      <div class="messa">
        ここに文章を入力
      </div>
      <p>あなた</p>
      <div class="messa">
        ここに文章を入力
      </div>
      <p>株式会社ホゲホゲ</p>
      <div class="messa">
        ここに文章を入力
      </div>
      <p>あなた</p>
      <div class="messa">
        ここに文章を入力
      </div>
  </main>
</body>