<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="user-top">
    <div class="job-offer">企業オファー</div>
    <div class="schedule">メッセージ一覧</div>
    <div class="study-post">学習記事投稿</div>
  </main>
  <%= render partial: '/template/footer' %>
</body>
</html>
