<body class="public-scene">
  <%= render partial: '/template/header' %>
  <%= render partial: '/template/nav' %>
  <main class="user-top">
    <div class="job-offer">企業オファー</div>
    <div class="schedule">メッセージ一覧</div>
    <div class="study-post">学習投稿一覧</div>
  </main>
  <footer>
    <p class="copy">Copyright © GrowIT/Talent All Rights Reserved.</p>
  </footer>
</body>
</html>
