/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
    font-size: 18px;
    li {
      font-size: 18px;
    }
  }
}

 #toggle-prof {
   display: none;
 }
 #toggle-post {
   display: none;
 }
 #toggle-con {
   display: none;
 }
 #slide-notice {
   display: none;
 }
 
.image-logout {
  background-image: image-url("logout.jpeg");
  margin: 0 auto;
  width: 50px;
  height: 50px;
  p {
    margin: 0;
    font-size: 12px;
    text-align: center;
  }
}

.e-submit {
  width: 50%;
  margin: 0 auto;
}

.port-submit {
  width: 30%;
  margin: 0 auto;
}

.basic-info {
  height: 430px;
}

 .public-scene {
  font-size: 2rem;
  background-color: #E9E9E9;
  color: #031C38;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
      "header header header header header" 100px
      "...... ...... ...... ...... ......" 60px
      "...... center center right  ......" 1fr
      "...... ...... ...... ...... ......" 100px
      "footer footer footer footer footer" 50px
      / 13% 30% 30% 15% 13%;
      header {
        grid-area: header;
        background-color: white;
        display: grid;
        grid-template: 
        "logo   ...... ...... ...... ......" 20px
        "logo   ...... ...... ...... item-1" 60px
        "logo   ...... ...... ...... ......" 20px
        / 20% 20% 20% 20% 20% ;
        .logo {
          grid-area: logo;
          width: 400px;
          margin-left: 25px;
          .c-logo {
            background-image: image-url("logo.jpeg");
            background-size: cover;
            width: 100%;
            height: 99%;
          }
        }
        .head-item {
          grid-area: item-1;
          display: grid;
          grid-template: 
          "item-1 item-2 item-3 item-4" 34px
          / 25% 25% 25% 25% ;
          .notification {
            grid-area: item-1;
            height: 68px;
            padding: 5px;
            .image-profile {
              background-image: image-url("profile.jpeg");
              margin: 0 auto;
              width: 65px;
              height: 57px;
            }
          }
          .picture {
            grid-area: item-2;
            height: 68px;
            padding: 5px;
            .image-bell {
              background-image: image-url("bell.jpeg");
              margin: 0 auto;
              width: 50px;
              height: 50px;
            }
            p {
              margin: 0;
              font-size: 12px;
              text-align: center;
              color: black;
            }
          }
          .carender {
            grid-area: item-3;
            height: 68px;
            padding: 5px;
            .image-logout {
              background-image: image-url("logout.jpeg");
              margin: 0 auto;
              width: 50px;
              height: 50px;
            }
            p {
              margin: 0;
              font-size: 12px;
              text-align: center;
              color: black;
            }
          }
          .logout {
            grid-area: item-4;
            height: 68px;
            padding: 5px;
            font-size: 18px;
          }
        }
      }
      .user-top {
        grid-area: center;
        font-size: 18px;
        display: grid;
        grid-template: 
        "item-1 item-3" auto
        "...... item-3" 15px
        "item-2 item-3" auto
        "...... ......" 15px
        / 50% 50% ;
        h4 {
          padding: 0 15px;
        }
        table {
          width: 95%;
          margin: 10px auto;
          td {
            border-bottom: solid 1px #E9E9E9;
            font-size: 16px;
          }
        }
        .job-offer {
          grid-area: item-1;
          margin-right: 15px;
          background-color: white;
          
        }
        .schedule {
          grid-area: item-2;
          margin-right: 15px;
          background-color: white;
        }
        .study-post {
          grid-area: item-3;
          margin-right: 15px;
          background-color: white;
          form {
            width: 90%;
            margin: 0 auto;
            input {
              width: 90%;
            }
            select {
              margin: 20px 0;
            }
            textarea {
              width: 90%;
              height: 250px;
            }
          }
        }
      }
      form {
        .user-info {
          grid-area: center;
          margin-right: 30px;
          display: grid;
          grid-template: 
          "item-1" 450px
          "......" 15px
          "item-2" auto
          "......" 15px
          "item-3" auto
          "......" 15px
          "item-4" auto
          "......" 15px
          "item-5" auto
          "......" 15px
          "item-6" auto
          "......" 15px
          "item-7" auto
          "......" 15px
          "item-8" auto
          "......" 15px
          "item-9" auto
          "......" 15px;
          .basic-info {
            grid-area: item-1;
            background-color: white;
            width: 80%;
            height: 600px;
            display: grid;
            grid-template: 
            "item-1 item-2 item-2" 30px
            "item-1 item-3 item-3" 30px
            "item-1 item-4 item-4" 30px
            "item-7 item-5 item-5" 30px
            "item-8 item-6 item-6" 30px
            / 33% 34% 33% ;
            img {
              grid-area: item-1;
              height: 160px;
              margin: 50px 0 0 90px;
            }
            table {
              font-size: 18px;
              margin-top: 50px;
              width: 800px;
            }
            td {
              width: 150px;
              padding: 5px 0;
            }
            th {
              text-align: left;
              padding: 5px 0;
              width: 25%;
            }
            
          }
          .ability {
            grid-area: item-2;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 10px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            .text-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
            table {
              font-size: 18px;
              width: 70%;
              margin: 40px auto;
            }
            td {
              width: 150px;
              padding: 5px 0;
            }
            th {
              text-align: left;
              padding: 5px 0;
            }
          }
          .pr {
            grid-area: item-3;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 30px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            h6 {
              margin: 10px 40px;
              font-size: 20px;
            }
            .text-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
            table {
              font-size: 18px;
              width: 90%;
              margin: 40px auto;
              .period {
                width: 16%;
              }
              td {
                padding: 10px;
                font-size: 14px;
              }
            }
          }
          .desire {
            grid-area: item-5;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 10px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            .desire-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
          }
          .qualification {
            grid-area: item-4;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 10px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            ul {
              margin: 20px 70px;
              list-style: none;
              padding: 0;
              li {
                border-bottom: solid 1px;
                font-size: 20px;
              }
            }
            .desire-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
          }
          .item-6 {
            grid-area: item-6;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 10px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            .desire-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
          }
          .item-7 {
            grid-area: item-7;
            background-color: white;
            width: 80%;
            h4 {
              font-size: 22px;
              margin: 30px 40px 10px;
              border-bottom: solid 2px rgba(197, 196, 196, 0.849);
            }
            .desire-box {
              margin: 20px 50px;
              border: solid 1px;
              border-radius: 4px;
              font-size: 20px;
            }
          }
          .submit {
            grid-area: item-8;
            width: 280px;
            background-color: #6fab13;
            border-radius: 7px;
            height: 60px;
            font-size: 22px;
            color: white;
            margin: 40px auto;
            text-align: center;
            line-height: 57px;
          }
          .save {
            grid-area: item-8;
            width: 280px;
            background-color: red;
            border-radius: 7px;
            height: 60px;
            font-size: 22px;
            color: white;
            margin: 40px 0 40px 260px;
            text-align: center;
            line-height: 57px;
          }
        }
      }
      .user-info {
        grid-area: center;
        margin-right: 30px;
        display: grid;
        grid-template: 
        "item-1" auto
        "......" 15px
        "item-2" auto
        "......" 15px
        "item-3" auto
        "......" 15px
        "item-4" auto
        "......" 15px
        "item-5" auto
        "......" 15px
        "item-6" auto
        "......" 15px
        "item-7" auto
        "......" 15px
        "item-8" auto
        "......" 15px;
        p {
          font-size: 18px;
        }
        form {
          .basic-info {
            width: 100%;
            display: flex;
            height: auto;
            table {
              width: 100%;
            }
          }
          .ability {
            width: 100%;
          }
          .pr {
            width: 100%;
          }
          .qualification {
            width: 100%;
          }
          .desire {
            width: 100%;
          }
          .item-6 {
            width: 100%;
          }
          .item-7 {
            width: 100%;
          }
        }
        .basic-info {
          grid-area: item-1;
          background-color: white;
          width: 80%;
          display: grid;
          grid-template: 
          "item-1 item-2 item-2" 30px
          "item-1 item-3 item-3" 30px
          "item-1 item-4 item-4" 30px
          "item-7 item-5 item-5" 30px
          "item-8 item-6 item-6" 30px
          / 33% 34% 33% ;
          img {
            grid-area: item-1;
            height: 160px;
            margin: 50px 50px 0;
          }
          .text-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
          table {
            font-size: 18px;
            margin-top: 50px;
            width: 800px;
          }
          td {
            width: 150px;
            padding: 5px 0;
          }
          th {
            text-align: left;
            padding: 5px 0;
          }
          
        }
        .ability {
          grid-area: item-2;
          background-color: white;
          width: 80%;
          h4 {
            font-size: 22px;
            margin: 30px 40px 10px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          textarea {
            width: 735px;
            margin: 20px 50px;
            height: 160px;
            border-radius: 7px
          }
          table {
            font-size: 18px;
            width: 70%;
            margin: 40px auto;
          }
          td {
            width: 150px;
            padding: 5px 0;
          }
          th {
            text-align: left;
            padding: 5px 0;
          }
        }
        .pr {
          grid-area: item-3;
          background-color: white;
          width: 80%;
          td {
            padding: 0;
            input {
              height: 228px;
              padding: 0;
              width: 98%;
              border: none;
            }
            textarea {
              margin: 0;
              width: 100%;
              height: 224px;
              padding: 0;
              border: none;
            }
          }
          h4 {
            font-size: 22px;
            margin: 30px 40px 30px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          h6 {
            margin: 10px 40px;
            font-size: 20px;
          }
          textarea {
            width: 735px;
            margin: 20px 50px;
            height: 160px;
            border-radius: 7px
          }
          .text-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
          table {
            font-size: 18px;
            width: 90%;
            margin: 40px auto;
            .period {
              width: 16%;
            }
            td {
              padding: 10px;
              font-size: 14px;
            }
          }
        }
        .desire {
          grid-area: item-5;
          background-color: white;
          width: 80%;
          select {
            font-size: 22px;
            width: 86%;
            margin: 20px 60px;
          }
          input {
            margin: 20px 60px;
            width: 85%;
            line-height: 30px;
            border-radius: 7px;
            border: solid 1px;
          }
          h4 {
            font-size: 22px;
            margin: 30px 40px 10px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          .desire-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
        }
        .qualification {
          grid-area: item-4;
          background-color: white;
          width: 80%;
          h4 {
            font-size: 22px;
            margin: 30px 40px 10px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          ul {
            margin: 20px 70px;
            list-style: none;
            padding: 0;
            li {
              font-size: 20px;
              input {
                width: 98%;
                line-height: 30px;
                margin-bottom: 30px;
                border-radius: 7px;
                border: solid 1px;
              }
            }
          }
          .desire-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
        }
        .item-6 {
          grid-area: item-6;
          background-color: white;
          width: 80%;
          select {
            font-size: 22px;
            width: 86%;
            margin: 20px 60px;
          }
          h4 {
            font-size: 22px;
            margin: 30px 40px 10px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          .desire-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
        }
        .item-7 {
          grid-area: item-7;
          background-color: white;
          width: 80%;
          h4 {
            font-size: 22px;
            margin: 30px 40px 10px;
            border-bottom: solid 2px rgba(197, 196, 196, 0.849);
          }
          .selection {
            width: 60%;
            margin: 20px 50px;
            font-size: 22px;
            padding-bottom: 20px;
          }
          .desire-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
        }
        .submit {
          grid-area: item-8;
          width: 280px;
          background-color: #6fab13;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px auto;
          text-align: center;
          line-height: 57px;
        }
        .save {
          grid-area: item-8;
          width: 280px;
          background-color: red;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px 0 40px 260px;
          text-align: center;
          line-height: 57px;
        }
      }
      .post {
        grid-area: center;
        margin-right: 30px;
        display: grid;
        grid-template: 
        "item-1" auto
        "......" 15px
        "item-2" 100px
        "......" 15px;
        .learn-rec {
          grid-area: item-1;
          background-color: white;
          .qual-form {
            font-size: 20px;
            font-weight: 500;
            .form {
              font-size: 18px;
              width: 400px;
              height: 30px;
              margin: 15px;
            }
          }
          .small-delete {
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
            border-image: initial;
            color: black;
            text-decoration: none;
          }
          .save {
            margin: 0 0 40px 280px;
            .transmission {
              margin: 0 auto;
              width: 100px;
              height: 40px;
              font-size: 18px;
              line-height: 39px;
              border-radius: 12px;
            }
          }
          .messa {
            border: solid 1px;
            border-radius: 5px;
            margin: 50px 70px;
            height: 150px;
            font-size: 18px;
          }
          .transmission {
            width: 200px;
            background-color: #6fab13;
            border-radius: 7px;
            height: 50px;
            font-size: 22px;
            color: white;
            margin: 40px auto;
            text-align: center;
            line-height: 53px;
          }
          h6 {
            margin: 10px 40px;
            font-size: 20px;
          }
          .text-box {
            margin: 20px 50px;
            border: solid 1px;
            border-radius: 4px;
            font-size: 20px;
          }
          table {
            font-size: 18px;
            width: 90%;
            margin: 40px auto;
            .period {
              width: 16%;
            }
            td {
              padding: 10px;
              font-size: 14px;
            }
          }
          .prof-box {
            margin: 20px 80px;
            img {
              height: 120px;
              margin-right: 30px;
            }
            .creat-ttl {
              display: inline-block;
              span {
                font-size: 12px;
              }
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          li {
            border-bottom: solid 1px #E9E9E9;
            padding-left: 30px;
            height: 70px;
            line-height: 35px;
            .creat-date {
              font-size: 20px;
              width: 80px;
              display: inline-block;
              padding-left: 30px;
            }
            .creat-ttl {
              display: inline-block;
              p {
                margin: 0;
                font-size: 16px;
                span {
                  font-size: 12px;
                }
              }
            }
            .messa-ttl {
              display: inline-block;
              p {
                margin: 0;
                font-size: 20px;
              }
            }
            .offer {
              font-size: 14px;
              background-color: red;
              color: white;
              padding: 0px 5px;
              border-radius: 7px;
              display: inline-block;
              margin-left: 300px;
            }
            img {
              width: 60px;
              height: 60px;
              padding: 5px 30px;
            }
          }
          .widget-header {
            height: 50px;
            background-color: #031C38;
            text-align: center;
            h4 {
              margin: 0;
              color: white;
            }
          }
          .title {
            margin: 40px 80px;
            border: solid 1px;
            border-radius: 7px;
            h6 {
              margin: 0;
            }
          }
          .lang {
            border: solid 1px;
            border-radius: 7px;
            margin: 0 80px 40px;
            font-size: 22px;
          }
          .text {
            border: solid 1px;
            border-radius: 7px;
            margin: 0 80px;
            font-size: 22px;
          }
        }
        .submit {
          grid-area: item-2;
          width: 280px;
          background-color: #6fab13;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px auto;
          text-align: center;
          line-height: 57px;
        }
      }
      .offerd {
        grid-area: center;
        margin-right: 30px;
        display: grid;
        grid-template: 
        "item-1 item-1" auto
        "...... ......" 15px
        "item-2 item-2" auto
        "...... ......" 15px
        "item-3 item-4" auto
        "...... ......" 15px
        / 50% 50%;
        .basic-info {
          grid-area: item-1;
          background-color: white;
          form {
            .messa {
              margin: 50px 0 20px 110px;
              width: 70%;
            }
            .transmission {
              margin-left: 310px;
            }
          }
          .title {
            margin: 40px 30px;
            border-bottom: solid 2px #031C38;
            h2 {
              font-size: 26px;
              margin: 0px 0px;
            }
            h6 {
              margin: 0px 0px 12px;
              font-size: 16px;
            }
          }
          .messa {
            border: solid 1px;
            border-radius: 5px;
            margin: 0 40px 100px;
            height: 150px;
            font-size: 18px;
          }
          .transmission {
            width: 200px;
            background-color: #6fab13;
            border-radius: 7px;
            height: 50px;
            font-size: 22px;
            color: white;
            margin: 40px auto;
            text-align: center;
            line-height: 53px;
          }
          p {
            margin: 15px 40px;
            font-size: 20px;
          }
          h4 {
            font-size: 22px;
            margin: 90px 40px 10px;
            border-bottom: solid 2px #031C38;
            color: #316bab;
          }
          table{
            margin: 50px auto;
            width: 80%;
          }
          
          table th{
            position: relative;
            text-align: left;
            width: 30%;
            font-size: 20px;
            border-bottom: solid 1px rgba(197, 196, 196, 0.849);
            padding: 30px 10px;
          }
          
          table td{
            text-align: left;
            width: 70%;
            font-size: 19px;
            border-bottom: solid 1px rgba(197, 196, 196, 0.849);
            padding: 15px;
          }
          .tag {
            background-color: royalblue;
            border-radius: 6px;
            width: 40%;
            padding: 0 10px;
            color: white;
            font-size: 16px;
            margin-bottom: 5px;
          }
        }
        .users {
          grid-area: item-1;
          background-color: white;
          table{
            margin: 50px auto;
            width: 80%;
            th{
              position: relative;
              text-align: left;
              width: 12%;
              font-size: 20px;
              border-bottom: solid 1px rgba(197, 196, 196, 0.849);
              padding: 30px 10px;
            }
            td{
              text-align: left;
              width: 88%;
              font-size: 19px;
              border-bottom: solid 1px rgba(197, 196, 196, 0.849);
              padding: 15px;
            }
          }
          ul {
            list-style: none;
            width: 80%;
            margin: 0 auto 50px;
            padding: 0;
            font-size: 22px;
            border-bottom: solid 1px rgba(197, 196, 196, 0.849);
            li {
              border: solid 1px;
              border-radius: 5px;
              width: 85%;
              margin: 10px auto;
            }
          }
        }
        .decline {
          grid-area: item-3;
          width: 280px;
          background-color: #6fab13;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px auto;
          text-align: center;
          line-height: 57px;
        }
        .submit {
          grid-area: item-4;
          width: 280px;
          background-color: #ab1313;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px auto;
          text-align: center;
          line-height: 57px;
        }
        .edit {
          width: 280px;
          background-color: #6fab13;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px 250px;
          text-align: center;
          line-height: 57px;
        }
        .save {
          width: 280px;
          background-color: red;
          border-radius: 7px;
          height: 60px;
          font-size: 22px;
          color: white;
          margin: 40px 0 40px 260px;
          text-align: center;
          line-height: 57px;
        }
      }
      nav {
        grid-area: right;
        font-size: 18px;
        display: grid;
        grid-template: 
        "item-1" 200px
        "......" 15px
        "item-2" 165px
        "......" 15px
        "item-3" 130px;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        li {
          border-bottom: solid 1px #E9E9E9;
          padding-left: 30px;
          height: 35px;
          line-height: 35px;
        }
        .first-box {
          grid-area: item-1;
          background-color: white;
          .widget-header {
            height: 50px;
            background-color: #031C38;
            text-align: center;
            h3 {
              margin: 0;
              line-height: 50px;
              font-size: 16px;
              color: white;
            }
          }
        }
        .second-box {
          grid-area: item-2;
          background-color: white;
          .widget-header {
            height: 50px;
            background-color: #031C38;
            text-align: center;
            h3 {
              margin: 0;
              line-height: 50px;
              font-size: 16px;
              color: white;
            }
          }
        }
        .third-box {
          grid-area: item-3;
          background-color: white;
          .widget-header {
            height: 50px;
            background-color: #031C38;
            text-align: center;
            h3 {
              margin: 0;
              line-height: 50px;
              font-size: 16px;
              color: white;
            }
          }
        }
      }
      footer {
        grid-area: footer;
        background: #333333;
        .copy {
          text-align: center;
          font-size: 10px;
          color: #95989A;
          line-height: 32px;
        }
      }
}

.about {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #333333;
  display: grid;
  grid-template:
      "......"
      "header" 500px
      "......"
      "center" 2150px
      "......"
      "footer" 50px
      "......";
      header {
        grid-area: header;
        background-image: image-url("ipadman.jpeg");
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template:
            "...... ...... ...... header" 200px
            "...... user-log corpo-log ......" 200px
            "footer footer footer footer" 100px
            / auto auto auto auto ;
            h3 {
              grid-area: header;
              background-image: image-url("logo.jpeg");
              background-size: cover;
              margin: 0 50px;
              width: 400px;
              height: 100px;
              background-position: bottom;
            }
            .user-log {
              grid-area: user-log;
              background-color: #c63031;
              box-shadow: 0 4px 0 #871b0f;
              // background-color: rgba(255,255,255,0.8);
              height: 100px;
              width: 200px;
              border-radius: 50px;
              p {
                margin: 0;
                text-align: center;
                padding-top: 30px;
                font-size: 25px;
              } 
            }
            .corpo-log {
              grid-area: corpo-log;
              background-color: #0c4771;
              box-shadow: 0 4px 0 #041a31;
              height: 100px;
              width: 200px;
              border-radius: 50px;
              p {
                margin: 0;
                text-align: center;
                padding-top: 30px;
                font-size: 25px;
              } 
            }
      }
      main {
        grid-area: center;
        display: grid;
        grid-template:
            "header header header header header" 100px
            "subttl subttl subttl subttl subttl" 100px
            "...... conven ...... gitt   ......" 400px
            "cap    cap    cap    cap    cap   " 100px
            "...... featur featur featur ......" 500px
            "flow   flow   flow   flow   flow  " 100px
            "...... card-1 card-1 card-1 ......" 200px
            "...... card-2 card-2 card-2 ......" 150px
            "...... card-3 card-3 card-3 ......" 350px
            "...... ...... regest ...... ......" 100px;
            // / auto 400px 200px 400px auto ;
            h3 {
              grid-area: header;
              font-size: 25px;
              text-align: center;
              background-color: gainsboro;
              padding: 13px;
            }
            .sub-ttl {
              grid-area: subttl;
              text-align: center;
            }
            .conventional {
              grid-area: conven;
              border: solid 1px;
              text-align: center;
              margin: 50px 0 50px 100px;
              height: 300px;
              border: solid;
              p {
                font-size: 28px;
                text-align: left;
                padding: 0 10px;
              }
            }
            .gitt {
              grid-area: gitt;
              border: solid 1px;
              text-align: center;
              margin: 50px 100px 50px 0;
              height: 300px;
              border: solid;
              p {
                font-size: 28px;
                text-align: left;
                padding: 0 10px;
              }
            }
            .cap {
              grid-area: cap;
              text-align: center;
              background-color: #041a31;
              padding: 60px;
              line-height: 5px;
              color: white;
            }
            .feature {
              grid-area: featur; 
              margin: 100px auto 0;
              border: solid 2px;
              border-radius: 6px;
              background: #f5f4f4;
              width: 70%;
              padding: 40px;
              p {
                margin: 0;
                text-align: center;
              }
              .detail {
                font-size: 20px;
                padding: 40px;
                text-align: left;
              }
            }
            .flow {
              grid-area: flow;
              text-align: center;
              background-color: #041a31;;
              padding: 60px;
              line-height: 5px;
              color: white;
            }
            .card-1 {
              grid-area: card-1;
              margin: 120px auto 0;
              border: solid 2px;
              border-radius: 6px;
              background: #f5f4f4;
              width: 40%;
              height: 140px;
              p {
                margin: 0;
                text-align: center;
                font-size: 25px;
              }
              .detail {
                font-size: 15px;
                padding: 10px;
                text-align: left;
              }
            }
            .card-2 {
              grid-area: card-2;
              margin: 120px auto;
              border: solid 2px;
              border-radius: 6px;
              background: #f5f4f4;
              width: 40%;
              height: 95px;
              p {
                margin: 0;
                text-align: center;
                font-size: 25px;
              }
              .detail {
                font-size: 15px;
                padding: 10px;
                text-align: left;
              }
            }
            .card-3 {
              grid-area: card-3;
              margin: 120px auto;
              border: solid 2px;
              border-radius: 6px;
              background: #f5f4f4;
              width: 40%;
              height: 140px;
              p {
                margin: 0;
                text-align: center;
                font-size: 25px;
              }
              .detail {
                font-size: 15px;
                padding: 10px;
                text-align: left;
              }
            }
            .regest {
              grid-area: regest;
              background-color: #c63031;
              box-shadow: 0 4px 0 #871b0f;
              height: 56px;
              width: 200px;
              border-radius: 50px;
              text-align: center;
              a {
                margin: 0;
                text-align: center;
                padding-top: 30px;
                font-size: 25px;
              }
            }
          }
          footer {
            grid-area: footer;
            background: #333333;
            .copy {
              text-align: center;
              font-size: 10px;
              color: #95989A;
              line-height: 32px;
            }
          }
        }

.newreg {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
      "header header header" 200px
      "...... ...... ......"
      "...... center ......" auto
      "...... ...... ......" 50px
      "footer footer footer" 50px
      / 15% 70% 15% ;
      li {
        font-size: 18px;
      }
      header {
        grid-area: header;
        display: grid;
        grid-template:
            "header header header" 35px
            "...... center userlo" 165px
            / 33% 34% 33% ;
            .backcl {
              grid-area: header;
              background-color: #012554;
            }
            .logo {
              grid-area: center;
              text-align: center;
              background-image: image-url("logo.jpeg");
              background-size: cover;
              width: 400px;
              height: 0px;
              background-position: center;
              padding: 60px;
            }
            .loggin {
              grid-area: userlo;
              text-align: right;
              padding: 60px;
              font-size: 18px;
            }
      }
      main {
        grid-area: center;
        display: grid;
        grid-template:
            "title" 35px
            "form " auto;
            // / 33% 34% 33% ;
            .title {
              grid-area: title;
              margin: 0;
              font-size: 28px;
              border-bottom: solid;
              line-height: 10px;
            }
            .formrg {
              grid-area: form;
                  table {
                    width: 70%;
                    margin: 10px auto;
                    td {
                      font-size: 18px;
                    }
                  }
                  h2 {
                    grid-area: namett;
                    font-size: 20px;
                    padding: 50px 0 0px 150px;
                    span {
                      font-size: 12px;
                      background-color: red;
                      color: #f7f7f5;
                      line-height: 0px;
                      padding: 4px;
                      margin-left: 10px;
                    }
                  }
                  .lastnm {
                    grid-area: lastnm;
                    padding-left: 150px;
                    label {
                      font-size: 18px;
                    }
                  }
                  .firstn {
                    grid-area: firstn;
                    padding-right: 150px;
                    label {
                      font-size: 18px;
                    }
                  }
                  .lastkn {
                    grid-area: lastkn;
                    padding-left: 150px;
                    label {
                      font-size: 18px;
                    }
                  }
                  .firstkana {
                    grid-area: firstk;
                    padding-right: 150px;
                    label {
                      font-size: 18px;
                    }
                  }
                  .gender {
                    grid-area: gender;
                    font-size: 18px;
                    padding-left: 150px;
                    span {
                      font-size: 12px;
                      background-color: red;
                      color: #f7f7f5;
                      line-height: 0px;
                      padding: 4px;
                      margin-left: 10px;
                    }
                    input {
                      margin-left: 10px;
                    }
                    .form {
                      width: 76%;
                    }
                  }
                  .birthd {
                    grid-area: birthd;
                    font-size: 18px;
                    padding-left: 150px;
                    span {
                      font-size: 12px;
                      background-color: red;
                      color: #f7f7f5;
                      line-height: 0px;
                      padding: 4px;
                      margin-left: 10px;
                    }
                    select {
                      margin-top: 10px;
                    }
                    .year {
                      height: 40px;
                      font-size: 18px;
                      width: 352px;
                      border-radius: 7px;
                    }
                    .month, .day{
                      height: 40px;
                      font-size: 18px;
                      width: 176px;
                      border-radius: 7px;
                    }
                    .form {
                      width: 76%;
                    }
                  }
                  .profimg {
                    grid-area: proimg;
                    .picture {
                      margin-left: 150px;
                      background-color: cornflowerblue;
                      width: 160px;
                      height: 160px;
                    }
                    input {
                      margin-left: 150px;
                    }
                  }
                  .submit {
                    grid-area: submit;
                    width: 280px;
                    background-color: #6fab13;
                    border-radius: 7px;
                    height: 60px;
                    font-size: 22px;
                    color: white;
                    margin: 40px auto;
                    text-align: center;
                    line-height: 57px;
                  }
                  .form {
                    border: solid 1px;
                    height: 38px;
                    width: 95%;
                    border-radius: 7px;
                  }
            }
            .new_applicant {
              grid-area: form;
              .uselog {
                display: grid;
                grid-template:
                  "firstp firstp firstp firstp" 100px
                  "second second second second" 100px
                  "...... submit submit ......" 100px
                  "bar    bar    bar    bar   " 50px
                  "...... regest regest ......" 100px
                  / 25% 25% 25% 25% ;
                  .firstp {
                    grid-area: firstp;
                    font-size: 18px;
                    padding-left: 150px;
                    span {
                      font-size: 12px;
                      background-color: red;
                      color: #f7f7f5;
                      line-height: 0px;
                      padding: 4px;
                      margin-left: 10px;
                    }
                    input {
                      margin-left: 10px;
                    }
                    .form {
                      width: 76%;
                    }
                  }
                  .second {
                    grid-area: second;
                    font-size: 18px;
                    padding-left: 150px;
                    span {
                      font-size: 12px;
                      background-color: red;
                      color: #f7f7f5;
                      line-height: 0px;
                      padding: 4px;
                      margin-left: 10px;
                    }
                    select {
                      margin-top: 10px;
                    }
                    .year {
                      height: 40px;
                      font-size: 18px;
                      width: 352px;
                      border-radius: 7px;
                    }
                    .month, .day{
                      height: 40px;
                      font-size: 18px;
                      width: 176px;
                      border-radius: 7px;
                    }
                    .form {
                      width: 76%;
                    }
                  }
                  .submit {
                    grid-area: submit;
                    width: 280px;
                    background-color: #6fab13;
                    border-radius: 7px;
                    height: 60px;
                    font-size: 22px;
                    color: white;
                    margin: 40px auto;
                    text-align: center;
                    line-height: 57px;
                  }
                  .bar {
                    grid-area: bar;
                    border-bottom: solid 1px;
                  }
                  .regest {
                    grid-area: regest;
                    width: 280px;
                    background-color: #ab3613;
                    border-radius: 7px;
                    height: 60px;
                    font-size: 22px;
                    color: white;
                    margin: 40px auto;
                    text-align: center;
                    line-height: 57px;
                  }
                  .form {
                    border: solid 1px;
                    height: 38px;
                    width: 95%;
                    border-radius: 7px;
                  }
              }
            }
      }
      footer {
        grid-area: footer;
        background: #333333;
        .copy {
          text-align: center;
          font-size: 10px;
          color: #95989A;
          line-height: 32px;
        }
      }
}

@media screen and (max-width: 1000px) {

  .hide-menu {
    display: none;
  }

  body {
      // height: 1500px;
      flex-direction: column;
      width: 100%;
  }
  .about {
    
    main {
      width: 100%;
      flex: 1;
      .conventional{
        height: 360px;
        width: 300px;
        font-size: 22px;
      }
      .gitt {
        height: 360px;
        width: 300px;
        font-size: 22px;
      }
      .card-3 {
        height: 170px;
      }
    }
  }
  footer {
      display: block;
      margin-bottom: 100px;
  }
  .newreg {
    grid-template:
      "header header header" 100px
      "...... ...... ......" 30px
      "...... center ......" auto
      "...... ...... ......" 50px
      "footer footer footer" 50px
      / 15% 70% 15% ;
    header {
      display: block;
      height: 100px;
      .logo {
        height: 60px;
        width: 230px;
        padding: 0;
        background-size: contain;
      }
      .loggin {
        padding: 0;
      }
    }
    main {
      grid-template: 
        "title"35px
        "form "auto;
        .formrg {
          grid-area: form;
          h2 {
            padding: 0px;
          }
          table {
            width: 100%;
          }
          .gender {
            padding: 0px;
            .form {
              width: 97%;
              margin: 0;
            }
          }
          .birthd {
            padding: 0px;
            .form {
              width: 97%;
            }
          }
        }
      .new_applicant {
        .uselog {
          grid-template:
            "firstp" 100px
            "second" 100px
            "submit" 100px
            "bar   " 50px
            "regest" 100px;
          .firstp {
            margin: 0 auto;
            width: 300px;
            text-align: center;
            padding-left: 0px;
          }
          .second {
            margin: 0 auto;
            width: 300px;
            text-align: center;
            padding-left: 0px;
          }
        }
      }
    }
  }
  .public-scene {
    width: 100%;
    display: grid;
    grid-template:
      "header" 150px
      "nav   " auto
      "center" 1fr
      "......" 20px
      "footer" 50px;
    header {
      display: block;
      height: 150px;
      .logo {
        height: 60px;
        width: 230px;
        padding: 0;
        background-size: contain;
      }
      .head-item {
        .notification {
          grid-area: item-2;
          .image-profile {
            width: 40px;
            height: 40px;
            margin: 20px;
            background-size: cover;
          }
        }
        .picture {
          grid-area: item-3;
          .image-bell {
            width: 40px;
            height: 40px;
            margin: 20px;
            background-size: cover;
          }
          p {
            display: none;
          }
        }
        .carender {
          grid-area: item-4;
          .image-logout {
            width: 40px;
            height: 40px;
            margin: 20px;
            background-size: cover;
          }
          p {
            display: none;
          }
        }
      }
    }
    nav {
      width: 100%;
      grid-area: nav;
      display: block;
      .first-box {
        height: auto;
        margin-bottom: 1px;
        #toggle-prof {
          display: block;
          position: relative;
        }
        #menu-prof {
          display: none;
          li {
            width: 100%;
            padding: 0px;
            text-align: center;
          }
        }
      }
      .second-box {
        height: auto;
        margin-bottom: 1px;
        #toggle-post {
          display: block;
          position: relative;
        }
        #menu-post {
          display: none;
          li {
            width: 100%;
            padding: 0px;
            text-align: center;
          }
        }
      }
      .third-box {
        height: auto;
        margin-bottom: 20px;
        #toggle-con {
          display: block;
          position: relative;
        }
        #menu-con {
          display: none;
          li {
            width: 100%;
            padding: 0px;
            text-align: center;
          }
        }
      }
    }
    .user-top {
      grid-template:
      "item-1" auto
      "item-2" auto
      "item-3" auto ;
      .study-post {
        grid-area: item-1;
        margin: 0 auto 10px;
        width: 95%;
        padding-bottom: 8px;
      }
      .job-offer {
        grid-area: item-2;
        margin: 5px auto;
        width: 95%;
      }
      .schedule {
        grid-area: item-3;
        margin: 5px auto;
        width: 95%;
      }
    }
    .user-info {
      width: 100%;
      form {
        width: 95%;
        .basic-info {
          table {
            tbody {
              tr {
                th {
                  input {
                    width: 50%;
                  }
                }
              }
            }
          }
        }
        .ability {
          textarea {
            width: 68%;
          }
        }
        .pr {
          textarea {
            width: 68%;
          }
        }
        .desire {
          select {
            font-size: 14px;
            width: 55%;
          }
          input {
            width: 55%;
            line-height: 20px;
          }
        }
        .e-submit {
          width: 76%;
        }
      }
      .basic-info {
        width: 95%;
        height: auto;
        margin: 0 auto;
        grid-template:
        "image" auto
        "table" auto ;
        img {
          grid-area: image;
          margin: 10px auto;
        }
        table {
          grid-area: table;
          width: 100%;
          margin: 5px auto;
          font-size: 16px;
          tbody {
            tr {
              td {
                width: 25%;
              }
            }
          }
        }
      }
      .ability {
        width: 95%;
        height: auto;
        margin: 0 auto;
      }
      .pr {
        width: 95%;
        height: auto;
        margin: 0 auto;
      }
      .qualification {
        width: 95%;
        height: auto;
        margin: 0 auto;
      }
      .desire {
        width: 95%;
        height: auto;
        margin: 0 auto;
      }
      .item-6 {
        width: 95%;
        height: auto;
        margin: 0 auto;
        select {
          font-size: 16px;
          width: 65%;
        }
      }
      .item-7 {
        width: 95%;
        height: auto;
        margin: 0 auto;
        .selection {
          font-size: 16px;
        }
      }
      .save {
        margin: 40px 0 40px 50px;
      }
    }
    .post {
      width: 100%;
      .learn-rec {
        width: 95%;
        margin: 0 auto;
        .qual-form {
          .form {
            width: 70%;
          }
        }
        .save {
          margin: 0 0 40px 140px;
        }
        input {
          width: 70px;
        }
        .title {
          margin: 40px 75px;
        }
        .lang {
          margin: 0 75px 40px;
        }
        .text {
          margin: 0 75px;
        }
        .qual-form {
          font-size: 16px;
        }
        li {
          display: flex;
          .creat-date {
            padding-left: 0;
          }
          .offer {
            margin-left: 100px;
            background-color: white;
          }
        }
      }
      .port-submit {
        width: 75%;
      }
    }
    .offerd {
      width: 100%;
      grid-template: 
        "item-1" auto
        "......" 15px
        "item-2" auto
        "......" 15px
        "item-3" auto
        "......" 15px;
        .basic-info {
          width: 95%;
          margin: 0 auto;
          form {
            margin: 0 auto;
            width: 80%;
            .messa {
              margin: 50px auto 20px;
              width: 100%;
            }
            .transmission {
              margin: 0 10px;
            }
          }
          table {
            width: 100%;
          }
        }
        .tag {
          background-color: royalblue;
          border-radius: 6px;
          width: 40%;
          padding: 0 10px;
          color: white;
          font-size: 16px;
          margin-bottom: 5px;
        }
        .submit {
          grid-area: item-3
        }
      }
    }
  }
